html {
	font-family:Arial, Helvetica, sans-serif;
	width: 1800px;
	margin-left: 60px;
}

.header {
	background-color:rgba(0, 0, 0, 0.945);
	color: #ffffff;
	padding: 8px;
}
p{
	margin-left: 40px;
	font-size: 17px;
}
div.exam1 {	
  justify-content: center;
  align-items: center;
  height: 400px;
  border-radius: 15px;
  border: 1px solid rgb(175, 174, 175);
}
div.exam2 {	
	justify-content: center;
	align-items: center;
	height: 400px;
	border-radius: 15px;
	border: 1px solid rgb(175, 174, 175);
  }
div.plan1 {
	position: absolute;
	left: auto; 
	             
}
div.schedule1 {
	position: relative;
	left: 1000px; 
	width: 800px;             
}
div.plan2 {
	position: absolute;
	left: auto;  
	            
}
div.schedule2 {
	position: relative;
	left: 1000px;              
	width: 800px;
}
.button {
	font-size: 1em;
	padding: 10px;
	margin-left: 50px;
	color: #000000;
	text-align: center;
	display:inline-block;
	border-radius: 15px;
	width: 300px;
	text-decoration: none;
	background: #E8BEAC;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }

  
.b1:hover {
	background-color: #c8bec9;
}
.b2:hover {
	background-color: #c8bec9;
}
.b3:hover {
	background-color: #c8bec9;
}
.b4:hover {
	background-color: #c8bec9;
}
.footer {
	text-align: center;
	background-color: rgba(204, 206, 206, 0.5);
	color: #000000;
	padding: 30px;
}
img {
	width: 300px;
	height: 300px;
	text-align: center;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: rgb(88, 17, 17);
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }